<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPSSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GPSSimulator.Properties.Settings>
            <setting name="selectedCOMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedBaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="selectedFixRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="selectedQualityIndicator" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="selectedNewline" serializeAs="String">
                <value>\r\n</value>
            </setting>
            <setting name="selectedProjection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="selectedZoomLevel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="drawTrail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selectedTurnMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selectedNumSatellites" serializeAs="String">
                <value>12</value>
            </setting>
        </GPSSimulator.Properties.Settings>
    </userSettings>
</configuration>